button::after {
    content: attr(data-after);
    color: blue;
    font-size: .80em;
    vertical-align: sub;
    vertical-align: super; 
}

a::after {
    content: attr(data-after);
    color: red;
    font-size: .80em;
    vertical-align: sub;
    vertical-align: super;
}

label::after {
    content: attr(data-after);
    color: yellowgreen;
    font-size: .80em;
    vertical-align: sub;
    vertical-align: super;
}