body {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
}

.button {
    width: 50%;
    padding: 10px 0;
    outline: none;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: grey;
    color: #fff;
}

button:hover {
    opacity: 0.8;
}

.button.current {
    box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}